body{
    background-color: var(--cianoescuro);
}
main{
    width: 90%;
    margin: auto;
    padding: 30px 25px;
}
h1{
    text-align: center;
    color: white;
    font-size: 3em;
}
.pesquisa input{
   width: 100%;
   border-radius: 20px;
   height: 50px;
   background-color: var(--cinzaescuro); 
   outline: none;
   border: none;
   color: white;
   padding: 0 20px;
   font-size: 1.3em;
   margin: 40px 0;
}
.pesquisa input::placeholder{
    color: white;
}

div.equipamento{
    display: flex;
    height: 150px;
    width: 60%;
    gap: 20px;
    flex-wrap: nowrap;
    position: relative;
}

div.equipamento .caixas{
    border: 3px solid var(--cinzaescuro);
    border-radius: 10px;
    width: 100%;
    background-color: var(--cinzaclaro);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 10px 0;
    position: relative;
    flex-wrap: wrap;
}
div.conteudo{
    display: flex;
}
div.conteudo .opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
div.conteudo .opcoes span{
    font-size: 60px;
    cursor: pointer;
    transition: font-size .7s;
}
div.conteudo .opcoes span:hover{
    font-size: 63px;
}
div.opcoesmesmo{
    left: 90px;
    position: absolute;
    background-color: rgb(79, 79, 79);
    border-radius: 15px;
    width: 0;
    height: 0;
    color: white;
    overflow: hidden;
    transition: all .4s;
}
div.opcoesmesmo p{  
    cursor: pointer;
    text-align: center;
    padding: 25px 0;
    /* height: 100%; */
    transition: background-color .3s;
    box-sizing: 1px 1px 2px rgba(0, 0, 0, 0.388);
}
div.opcoesmesmo p:hover{
    background-color: rgb(95, 95, 95);
}

hr{
    margin: 30px -21px;
    background-color: var(--cinzaescuro);
    border: none;
    height: 5px;
}
hr::after{
    content: '|';
    color: var(--cinzaescuro);
    font-size: 30px;
    position: absolute;
    border-radius: 20px;
    right: 0;
    bottom: 42px;
    font-weight: bolder;
}
hr::before{
    content: '|';
    color: var(--cinzaescuro);
    font-size: 30px;
    position: absolute;
    border-radius: 20px;
    left: 0;
    bottom: 42px;
    font-weight: bolder;
}

@media(max-width: 1200px){

    div.equipamento {
        width: 100%;
        font-size: 1.3em;
    }
    div.equipamento .caixas{
        background-color: rgba(255, 255, 255, 0);
        border: none;
        border-radius: 0;
    }
    div.equipamento .caixas:nth-child(1n){
        border-left: 2px solid var(--cinzaescuro);
        padding-left: 10px;
    }
    div.equipamento .caixas:first-of-type{
        border-left: none
    }
}
@media(max-width: 770px){
    header{
        padding: 0 15px;
        justify-content: space-between;
    }
}