body{
    background-color: rgb(219, 219, 219);
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 20px 0 0 0;
    width: 1000px;
    margin: auto;
}
header img{
    position: relative;
    right: 70px;
}
header h2{
    font-size: 2.1em;
}
header a{
    color: var(--cinzaescuro);
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 600;
    transition: all .7s;
}

header span {
    margin: auto;
    font-size: 50px !important;
    vertical-align: middle;
}
a:checked{
    color: rgb(146, 167, 187);
}
a:hover{
    color: rgb(42, 42, 42);
}


main{
    background-color: white;
    border: 5px solid var(--cinzaescuro);
    padding: 15px;
    margin: 30px auto 50px;
    border-radius: 10px;
    font-weight: 900;
    font-size: 1.2em;
    width: 1200px;
    
}
input{
    font-size: 1.2em ;
    margin: 0 15px 20px 0;
    outline: none;
    padding: 0px 10px 0 10px;
}
input::placeholder{
    text-align: center;
    font-size: .9em;
    color: rgb(93, 93, 93);
}



input, section{
    background-color: #c3f3f2;
    border: 1px solid var(--cianoescuro);
    border-radius: 20px;
    height: 50px;
}
label, h4{
    display: inline-block;
    margin: 10px 0 5px 15px;
    font-size: 1.1em;

}

#nome{
    width: 99%;
}
#infos{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
}

#infos2{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}


#infos3{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

#contato {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

div.niveis{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.niveis input[type="radio"] {
        display: none; /* Esconde o radiobutton padrão */
        position: relative;
    }

/* Estilo para o radiobutton personalizado */
.niveis input[type="radio"] + label {
    position: relative;
    padding-left: 35px; /* Espaço para o quadrado */
    cursor: pointer;
}

/* Estilo para o quadrado externo */
.niveis input[type="radio"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 25px; /* Largura do quadrado */
    height: 25px; /* Altura do quadrado */
    border: 2px solid #333; /* Cor e espessura da borda */
    background-color: #fff; /* Cor de fundo */
    border-radius: 4px; /* Borda arredondada */
}



/* Estilo específico para cada radiobutton */
.niveis #emerg:checked + label:before {
    background-color: red; /* Cor de fundo vermelha para Emergência */
}

.niveis #urgen:checked + label:before {
    background-color: yellow; /* Cor de fundo amarela para Urgente */
}

.niveis #pouco:checked + label:before {
    background-color: green; /* Cor de fundo verde para Pouco urgente */
}

.niveis #nao:checked + label:before {
    background-color: blue; /* Cor de fundo azul para Não urgente */
}


article{
    border: 4px dashed var(--cinzaescuro);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
}


article input[type=checkbox]{
    height: 20px;
    width: 20px;
}

textarea {
    width: 90%;
    height: 150px;
    font-size: 1.2em;
    margin: auto;
    outline: none;
    padding: 10px;
    border: 1px solid var(--cianoescuro);
    border-radius: 20px;
    background-color: #c3f3f2;
    resize: none; 
}

textarea::placeholder {
    font-size: .9em;
    color: rgb(93, 93, 93);
}


#dadosplano {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr .6fr;
    gap: 10px;
}
#dadosplano input[type=checkbox]{
    height: 30px;
    width: 30px;
    position: relative;
    top: 10px;
}
#dadosplano label{
    margin-left: 0;
}

#objetivo textarea{
    width: 100%;
}

#infomedico {
    width: 100%;
    display: grid;
    grid-template-columns: 1.8fr 1fr .5fr;
}

hr{
    background-color: var(--cianoescuro);
    border: none;
    border-radius: 10px;
    height: 6px;
}

#infoatendimento{
    width: 100%;
    display: grid;
    grid-template-columns: .6fr .6fr 1.3fr;
}

input[type = submit]{
    display: block;
    margin: 20px auto;
    transition: all .7s;
    cursor: pointer;
    height: 70px;
    width: 300px;
}
input[type = submit]:hover{
    background-color: var(--cianoescuro);
}
@media(max-width: 1100px){
    div{
        grid-template-columns: 1fr;
    }
}

