@font-face {
    font-family: ossemrust;
    src: url(../fonts/ossemrust.otf)
  }

body{
    background-image: url(../img/backgroundindex.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 113, 117);
    overflow: hidden;
    user-select: none;
}


main{
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
img{
    display: block;
    margin: auto;
}
main h1{
    font-family: ossemrust;
    color: #70706F;
    font-size: 5em;
    text-align: center;
}

main p{
    margin: 70px;
    text-align: center;
    color: #00375f;
    font-size: 1.4em;
}


main button{
    margin: auto;
    background-color: white;
    width: 225px;
    font-size: 1.3em;
    height: 70px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
    cursor: pointer;
    transition: all .7s;
}
button{
    font-weight: 700;
}
button:hover{
    background-color: rgb(187, 187, 187);
}
.img{
    margin: auto;
}
a{
    width: 175px;
    height: 50px;
    text-decoration: none;
}

@media(max-width: 770px){
    
    main h1{
        font-size: 3em;
    }
    p{
    font-size: 1.6em;
    }
}

