body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    background-image: linear-gradient(120deg, #85e1e0, #67e0de, #3ddbd8, #00e0dc);
    background-image: url(../img/fotocoracaomedico.jpg);
    background-size: cover;
    overflow: hidden;
}
.logo{
    display: inline-block;
}

h3{
    margin-bottom: 70px;
}

#img{
    position: absolute;
    right: 0;
    height: 100%;
}
#img img{
    height: 99.6%;
}

main .login{
    margin: auto;
    width: 400px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.915);
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.433);

}
div.reto{
    display: flex;
    height: 100px;

}



main .login h3{
    text-align: center;
    font-size: 2em;
}

main .login span{
    font-size: 54px;


}

main .login input[type = text],main .login input[type = password]{
    width: 100%;
    height: 54px;
    border-radius: 20px;
    outline: none;
    border: 3px solid #9afdfb;
    padding: 0 20px;
    
}
main .login input[type = password]{
    margin-bottom: 50px;
}

a{
    float: right;
    margin: 10px 0;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
#login{
    text-align: center;
    display: block;
}
main .login input[type = submit]{
    cursor: pointer;
    display: block;
    margin: auto;
    width: 90%;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #9afdfb;
    transition: ease-out .7s;
    border: 1px solid #8eccff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.433);
    font-size: 1.3em;
}
.login input[type = submit]:hover{   
    background-color: #8be9e8;
}

@media(max-width: 770px){
    main .login{
        width: 350px;
    }

}


    
