header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    transition: all .7s ease-in-out;
}

div.logo img{
    height: 80px;
    width: 80px;
}
nav{
    transform: translateX(0%);
}

header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-top: 25px;
    list-style-type: none;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    transition: all .3s;
}
header nav ul li:hover a{
    text-decoration: underline;
}
header nav ul li:last-child:hover a{
    background-color: var(--cianoescuro);
    text-decoration: none;
}
header nav ul li:last-child a{
    background-color: var(--cianoclaro);
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.333);
}
span.menu-mobile{
    display: none;
    cursor: pointer;
    font-size: 2.3em;
    position: relative;
    top: 20px;
    z-index: 1;
}
main{
    position: relative;
    top: 80px;
}

@media(max-width: 1534px){

}

@media(max-width: 770px){
    header{
        padding: 0 15px;
        justify-content: space-between;
    }
    span.menu-mobile{
        display: block;
    }
    nav{
    position: absolute;
    top: 0vh;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #23232e;
    padding: 40px 0 20px;
    transition: all .7s;
    transform: translateX(100%);

    }
    nav ul{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        height: 80%;
    }
    header nav ul li a{
        color: white;
    }
    header nav ul li:last-child a{
        color: black;
    }

    }